[build]
target = "xtensa-esp32-espidf"

[target.xtensa-esp32-espidf]
linker = "ldproxy"
runner = "espflash flash --monitor"
rustflags = ["--cfg", "espidf_time64"]

[target.xtensa-esp32-espidf.env]
LDPROXY_LINKER = "xtensa-esp32-elf-gcc"

[unstable]
build-std = ["std", "panic_abort"]